@import '../../../../styles/base/variables';

.bannerContainer {
	margin-top: 95px;
	width: 100%;
	max-width: 100%;
	.announcementBar {
		background-color: #fffaf3;
		.announcementBarInner {
			text-align: center;
			padding: 10px 5px;
			a {
				text-decoration: none;
				p {
					color: #7b7a77;
					font-size: 11px;
					font-family: $mundial;
					text-transform: capitalize;
				}
			}
		}
	}
}
