@import '../../../../../styles/base/variables';

.announcementBar {
	background-color: #fffaf3;

	margin-top: 100px;
	.announcementBarInner {
		text-align: center;
		padding: 10px 5px;
		a {
			text-decoration: none;
			p {
				color: #7b7a77;
				font-size: 11px;
				font-family: $mundial;
				text-transform: capitalize;
			}
		}
	}
}
