@import '../../styles/base/variables';
@import '../../styles/base/fonts';
@import '../../styles/base/variables';
@import '../../styles/mixins/layout';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #f3eee8;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

// ==========================================================================
// Default
// ==========================================================================

@media (min-width: $breakMobile) {
}

// ==========================================================================
// Mobile Large
// ==========================================================================

@media (min-width: $breakLargeMobile) {
}

// ==========================================================================
// Tablet
// ==========================================================================

@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// HD
// ==========================================================================
@media (min-width: $breakHd) {
}
