@import '../../../../../styles/base/variables';
@import '../../../../../styles/mixins/layout';

.navDraw {
	background-color: #fffaf4;
	position: absolute;
	top: 0;
	right: 0;
	width: 600px;
	height: 100vh;
	transform: translateX(600px);
	transition: transform 0.3s ease;
	.inner {
		padding-top: 150px;
		padding-left: 40px;
		padding-bottom: 150px;
	}
	&.active {
		transform: translateX(0);
	}
}

// ==========================================================================
// Default
// ==========================================================================

@media (min-width: $breakMobile) {
}

// ==========================================================================
// Mobile Large
// ==========================================================================

@media (min-width: $breakLargeMobile) {
}

// ==========================================================================
// Tablet
// ==========================================================================

@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// HD
// ==========================================================================
@media (min-width: $breakHd) {
}
